<html ng-app>
<head>
	<title>Work Queue</title>
	<link rel="stylesheet" href="styles/site.css">
</head>
<body ng-controller="MainController" ng-keydown='keyPressed($event)'>
	<div class="container">
		<table class='wq-list'>
			<tr>
				<td ng-repeat="lane in swimlanes" class='wq-panel'>
					<div class='wq-panel-header' ng-class="{true : 'selected', false : ''}[lane.selected]">
						{{$index}}.{{lane.name}}
					</div>
					<div class='wq-list'>
						<div ng-repeat="task in lane.tasks" class="{{task.state}} {{task.important}}">
							{{$index}}.{{task.name}}
						</div>
					</div>
				</td>
			</tr>
		</table>
		<div class='prompt'>
			<span ng-show='err' style='color:red'>{{err}}</span>
			<span ng-show='!keySequence && !err'>type help for entire command list</span>
			{{keySequence}}
			<span class='cursor'>&nbsp</span>
		</div>
	</div>

	<div class='help-modal' ng-show='help'>
		<h3>What is this ?</h3>
		<p>
			task manager for hackers, simple and elegant. If you're tired of touching mouse again and again for managing your tasks, then this is for you.
			Head over to <a href="https://github.com/chinmaymk/wq">github</a> for more information.
		</p>
		<h3>Commands</h3>
		<div>
			<p>Create</p>
			<div>ns - new swimlane</div>
			<div>ns [,swimlane name]</div>
			<div>nt - new task</div>
			<div>nt swimlaneid [,task name]</div>
			<p>Update</p>
			<div>dn  [,swimlaneid] {taskid expression}</div>
			<div>mv {taskid expression} swimlaneid</div>
			<div>eds  swimlaneid [,name]</div>
			<div>edt  swimlaneid taskid  [,name]</div>
			<p>Delete</p>
			<div>delt swimlaneid {taskid expression}</div>
			<div>dels smimlaneid</div>
			<p>and Read on the page</p>
			<p>Allowed expressions for tasks</p>
			<div>1-5 cosiders tasks from #1 to #5</div>
			<div>1,5,4 cosiders tasks #1, #5, #4</div>
		</div>
		<p>type x to close this</p>
	</div>
	<script src="scripts/libs/jquery-2.0.min.js"></script>
	<script src="scripts/libs/angular.min.js"></script>
	<script src="scripts/app.js"></script>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-30489435-6', 'chinmaymk.github.io');
	ga('send', 'pageview');

	</script>
</body>
</html>